.cover {
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "body";
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 0 auto;
  }
}
