.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 38px;
    line-height: 42px;
    margin: 0 16px 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

