.place {
  display: grid;
  grid-template-columns: minmax(338px, 460px) minmax(354px, 484px);
  column-gap: 40px;
  row-gap: 48px;
  
}


@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
} 

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(196px, 460px) minmax(208px, 484px);
    column-gap: 28px;
   
  }
} 

@media screen and (max-width: 500px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
} 