.place__url-heading {
  max-width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
}

.place__url-heading:first-child {
  margin-bottom: 12px;
}